@use './partial' as *;

// Footer Section Styles

.footer {
    color: $primary-white;
    background-color: $primary-black;
    padding: 2.4rem 1.6rem 1.6rem 1.6rem;

    @include tablet {
        padding: 4.8rem 3.6rem 3.6rem 3.6rem;
        position: relative;
    }

    @include desktop {
        padding: 4.8rem 9.6rem 3.6rem 9.6rem;
    }

    &__contact {

        @include tablet {
            @include flex-just(space-between);
            width: 53%;
            align-items: center;
        }

        @include desktop {
            width: 35%;
        }

        .social {
            width: 12rem;
            padding: 1.6rem 0 2.4rem 0;
            @include flex-just(space-between);
        }
    }

    &__management {
        @include flex-dir(column);

        @include tablet {
            padding: 3.6rem 0 0 0;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
        }

        @include desktop {
            width: 66%;
        }

        .management__line,
        .agent__line,
        .entertainment__line {
            padding-bottom: 1.6rem;

            @include tablet {
                padding-bottom: 2.4rem;
            }
        }

        .management__line--bold,
        .agent__line--bold,
        .entertainment__line--bold {
            font-weight: 600;
        }

        .management__line--email,
        .agent__line--email,
        .entertainment__line--email {
            font-size: 1.3rem;

            @include tablet {
                font-size: 1.4rem;
            }
        }
    }

    &__logo {
        margin-top: 4.8rem;

        @include tablet {
            position: absolute;
            left: 80%;
            bottom: 80%;
        }
    }

    &__copyright--font {
        font-size: 1rem;
        padding-top: .8rem;

        @include tablet {
            font-size: 1.3rem;
            padding-top: 2.4rem;
        }
    }
}

// End of Footer Section Styles