@use './partial' as *;

// Header Styles
.header {
    background-color: $primary-black;
    @include flex(null, column);
    align-items: center;

    @include tablet {
        @include flex(flex-start, row);
    }

    &__logo {
        margin: 1.6rem;
        height: 1.9rem;

        @include tablet {
            margin: 2.4rem 3.2rem;
        }

        @include desktop {
            margin-left: 9.6rem;
        }
    }

    &__nav {
        width: 100%;
    }

    &__list {
        @include flex(null, row);
        box-sizing: border-box;

        @include tablet {
            width: 20rem;
        }
    }

    &__link {
        font-size: 2rem;
        color: $secondary-mercury;
        list-style-type: none;
        width: 50%;
        text-align: center;
        padding-bottom: 1rem;
        border-bottom: .4rem solid $primary-black;

        @include tablet {
            width: auto;
            padding: 2.4rem 0;
            border-bottom: none;
            margin: 0 2.4rem;
        }

        &--active {
            color: $primary-white;
            font-weight: 600;
            border-bottom: .4rem solid $primary-white;
        }

        &:hover {
            border-bottom: .4rem solid $primary-white;
            color: $primary-white;
        }
    }
}

// End of Header Styles