@use './typography' as *;

@mixin mobile {
    @media (min-width: 320px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 768px) {
        @content
    }
}

@mixin desktop {
    @media (min-width: 1280px) {
        @content;
    }
}

@mixin flex-just($justify) {
    display: flex;
    justify-content: $justify;
}

@mixin flex-dir($direction) {
    display: flex;
    flex-direction: $direction;
}

@mixin width-height($width, $height) {
    width: $width;
    height: $height;
}

@mixin font-size-weight($size, $weight) {
    font-size: $size;
    font-weight: $weight;
}

$primary-black: #323232;
$primary-silver: #AFAFAF;
$primary-white: #FFF;
$secondary-dark-black: #000000;
$secondary-mercury: #E1E1E1;
$secondary-alabaster: #FAFAFA;

$avenir: 'AvenirNextLTPro';

* {
    margin: 0;
    padding: 0;
    font-family: $avenir;
    font-size: 62.5%;
}

h1 {
    @include mobile {
        @include font-size-weight(2.4rem, 600);
        line-height: 3.2rem;
    }

    @include tablet {
        @include font-size-weight(6rem, 600);
        line-height: 6.8rem;
    }
}

h2 {
    @include mobile {
        @include font-size-weight(2.4rem, 600);
        line-height: 3.2rem;
    }

    @include tablet {
        @include font-size-weight(3.6rem, 600);
        line-height: 4.4rem;
    }
}

h3 {
    @include mobile {
        @include font-size-weight(1.4rem, 600);
        line-height: 2.2rem;
        // changed font-weight to make it look as much as possible with the mobile mockup
    }

    @include tablet {
        @include font-size-weight(2.4rem, 600);
        line-height: 3.2rem;
    }
}

p {
    @include font-size-weight(1.3rem, 400);
    line-height: 1.8rem;

    @include tablet {
        @include font-size-weight(1.4rem, 400);
        line-height: 2.2rem;
    }
}

a {
    text-decoration: none;
    color: $primary-white;
}

.bandsite-logo {
    background-color: $primary-black;
    max-width: 12rem;
    max-height: 2rem;
}

.form-input-style {
    font-size: 1.3rem;
    min-height: 3.6rem;
    width: 100%;
    border-radius: .4rem;
    padding: 1.2rem;
    box-sizing: border-box;
    margin-top: .4rem;
    border: .1rem solid $secondary-mercury;
    background-color: $secondary-alabaster;

    &:focus::placeholder {
        color: transparent;
    }

    &::placeholder {
        color: $primary-black;
    }

    &:active {
        border: .1rem solid $primary-black;
    }

    @include tablet {
        min-height: 4.8rem;
        padding: 1.6rem;
    }
}

iframe {
    @include width-height(100%, 100%);

    @include tablet {
        width: 60%;
    }

    @include desktop {
        @include width-height(100%, 13.6rem);
        margin-top: 3.6rem;
    }
}