@use './partials/partial' as *;

// Header Styles
.header {
    background-color: $primary-black;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        flex-direction: row;
        justify-content: flex-start;
    }

    &__logo {
        margin: 16px;
        height: 19px;

        @include tablet {
            margin: 24px 32px;
        }

        @include desktop {
            margin-left: 96px;
        }
    }

    &__nav {
        width: 100%;
    }

    &__list {
        display: flex;
        flex-direction: row;
        box-sizing: border-box;

        @include tablet {
            width: 200px;
        }
    }

    &__link {
        font-size: 14px;
        color: $secondary-mercury;
        list-style-type: none;
        width: 50%;
        text-align: center;
        padding-bottom: 10px;
        border-bottom: 4px solid $primary-black;

        @include tablet {
            padding: 24px 0;
            border-bottom: none;
        }

        &:hover {
            border-bottom: 4px solid $primary-white;
            color: $primary-white;

            @include tablet {
                border-bottom: none;
                text-decoration: underline;
                text-decoration-color: $primary-white;
                text-underline-offset: 28px;
                text-decoration-thickness: 2px;
            }
        }

        &:active>.header__link--active {
            font-weight: 600;
        }
    }
}

// End of Header Styles
// Hero Section Styles
.hero {
    height: 12rem;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;

    @include mobile-landscape {
        height: 20rem;
    }

    @include tablet {
        height: 30rem;
    }

    @include desktop {
        height: 35rem;
    }

    &__img {
        height: 100%;
        width: 100%;

        @include desktop {
            position: relative;
            height: 125%;
            width: 100%;
            top: 6%;
        }
    }

    &__opaque {
        background-color: $primary-black;
        height: 100%;
        width: 100%;
        opacity: 50%;
        position: absolute;
        z-index: 0;
    }

    &__name {
        color: $primary-white;
        position: absolute;
        z-index: 1;
        margin: 16px;


        @include tablet {
            margin: 36px;
        }

        @include desktop {
            margin: 96px;
        }
    }

    &__title {
        // changed font-size to make it look as much as possible with the mobile mockup
        font-size: 26px;

        @include mobile-landscape {
            font-size: 48px;
        }

        @include tablet {
            font-size: 60px;
        }
    }
}

// End of Hero Section Styles
// About Section Styles
.about {
    display: flex;
    flex-direction: column;
    padding: 0 16px;

    @include tablet {
        padding: 0 36px;
    }

    @include desktop {
        padding: 0 96px;
    }

    &__title {
        margin-top: 24px;
        margin-bottom: 16px;

        @include tablet {
            margin-top: 48px;
            margin-bottom: 36px;
        }
    }

    &__content {

        @include mobile-landscape {
            display: flex;
            flex-direction: column;
        }

        @include tablet {
            display: flex;
            flex-direction: column;
            padding: 0 40px;
        }

        @include desktop {
            padding: 0 80px;
        }
    }

    &__img {
        width: 100%;
        margin-bottom: 16px;

        @include mobile-landscape {
            width: 75%;
            align-self: center;
        }

        @include tablet {
            width: 100%;
            height: 22rem;
            align-self: center;
            margin-bottom: 36px;
        }

        @include desktop {
            width: 100%;
            height: 30rem;
        }
    }

    &__quote {

        &--margin {
            margin-bottom: 8px;
        }

        @include tablet {
            width: 100%;
            align-self: center;
        }

        @include desktop {
            width: 78%;
            align-self: flex-start;
        }

        &--size {
            @include tablet {
                // changed font-weight to make it look as much as possible with the mobile mockup
                font-size: 18px;
            }
        }
    }

    &__band-name {
        margin-top: 24px;
        margin-bottom: 16px;

        @include tablet {
            margin-top: 48px;
            // kept margin-bottom at 16px to make it look as much as possible with the mobile mockup
        }

        @include desktop {
            margin-bottom: 24px;
        }
    }

    &__paragraphs {
        @include tablet {
            display: flex;
            justify-content: space-between;
            padding-bottom: 36px;
        }
    }

    &__paragraph {
        // changed font-size to make it look as much as possible with the mobile mockup
        font-size: 14px;
        font-weight: 400;

        @include tablet {
            width: 48%;
        }
    }

    &__paragraph--padding {
        padding: 16px 0;

        @include tablet {
            padding: 0;
        }
    }
}

// End of About Section Styles
// Gallery Section Styles
.gallery {
    background-color: $secondary-alabaster;
    padding: 24px 16px 0 16px;

    @include tablet {
        padding: 48px 36px 8px 36px;
    }

    @include desktop {
        padding: 48px 96px 8px 96px;
    }

    &__photos {
        padding-top: 16px;
        display: flex;
        flex-direction: column;

        @include mobile-landscape {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        @include tablet {
            // changed padding top to make it look as much as possible with the mobile mockup
            padding-top: 24px;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        @include desktop {
            padding-top: 32px;
        }
    }

    &__img {
        width: 100%;
        height: 12rem;
        padding-bottom: 16px;

        @include mobile-landscape {
            width: 48%;
            padding-bottom: 24px;
        }

        @include tablet {
            height: 20%;
            width: 31.5%;
            padding-bottom: 24px;
        }
    }

}

// End of Gallery Section Styles
.footer {
    color: $primary-white;
    background-color: $primary-black;
    padding: 24px 16px 16px 16px;

    @include mobile-landscape {
        position: relative;
    }

    @include tablet {
        padding: 48px 36px 36px 36px;
        position: relative;
    }

    @include desktop {
        padding: 48px 96px 36px 96px;
    }

    &__contact {
        @include mobile-landscape {
            display: flex;
            flex-direction: row;
            width: 45%;
            justify-content: space-between;
            align-items: center;
        }

        @include tablet {
            display: flex;
            flex-direction: row;
            width: 53%;
            justify-content: space-between;
            align-items: center;
        }

        @include desktop {
            width: 35%;
        }
    }

    .social {
        width: 120px;
        padding: 16px 0 24px 0;
        display: flex;
        justify-content: space-between;
    }

    &__management {
        display: flex;
        flex-direction: column;

        @include mobile-landscape {
            flex-direction: row;
            justify-content: space-between;
        }

        @include tablet {
            padding: 36px 0 0 0;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        @include desktop {
            width: 66%;
        }
    }

    &__management p {
        padding-bottom: 16px;

        @include tablet {
            padding-bottom: 24px;
        }
    }

    .paragraph--bold {
        font-weight: 600;
    }

    .bandsite {
        margin-top: 48px;

        @include mobile-landscape {
            position: absolute;
            left: 80%;
            bottom: 80%;
        }

        @include tablet {
            position: absolute;
            left: 80%;
            bottom: 80%;
        }
    }

    .copyright__line {
        font-size: 10px;
        padding-top: 8px;

        @include tablet {
            font-size: 13px;
            padding-top: 24px;
        }
    }
}