@use './partials/partial' as *;
@use './partials/header' as *;
@use './partials/footer' as *;

// Hero Section Styles
.hero {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    max-height: 90vh;

    &__img {
        width: 100%;
    }

    &__opaque {
        background-color: $primary-black;
        @include width-height(100%, 100%);
        opacity: 50%;
        position: absolute;
    }

    &__name {
        color: $primary-white;
        position: absolute;
        margin: 1.6rem;


        @include tablet {
            margin: 3.6rem;
        }

        @include desktop {
            margin: 9.6rem;
        }
    }

    &__title {
        // changed font-size to make it look as much as possible with the mobile mockup
        font-size: 2.6rem;

        @include tablet {
            font-size: 6rem;
        }
    }
}

// End of Hero Section Styles

// About Section Styles
.about {
    @include flex-dir(column);
    padding: 0 1.6rem;

    @include tablet {
        padding: 0 3.6rem;
    }

    @include desktop {
        padding: 0 9.6rem;
    }

    &__title {
        margin-top: 2.4rem;
        margin-bottom: 1.6rem;

        @include tablet {
            margin-top: 4.8rem;
            margin-bottom: 3.6rem;
        }
    }

    &__content {

        @include tablet {
            padding: 0 4rem;
        }

        @include desktop {
            padding: 0 8rem;
        }
    }

    &__img {
        width: 100%;
        margin-bottom: 1.6rem;

        @include tablet {
            margin-bottom: 3.6rem;
        }
    }

    &__quote {

        &--margin {
            margin-bottom: .8rem;
        }

        @include desktop {
            width: 83%;
        }

        @include desktop {
            font-size: 2.6rem;
        }

        &--size {
            @include tablet {
                // changed font-weight to make it look as much as possible with the mockup
                font-size: 1.7rem;
            }

            @include desktop {
                // changed font-weight to make it look as much as possible with the mockup
                font-size: 1.8rem;
            }
        }
    }

    &__band-name {
        margin-top: 2.4rem;
        margin-bottom: 1.6rem;

        @include tablet {
            margin-top: 4.8rem;
            margin-bottom: 2.4rem;
        }
    }

    &__paragraphs {
        @include tablet {
            @include flex-just(space-between);
            padding-bottom: 3.6rem;
        }
    }

    &__paragraph {

        @include tablet {
            width: 47%;
        }

        @include desktop {
            width: 48%;
            font-size: 1.5rem;
        }
    }

    &__paragraph--padding {
        padding: 1.6rem 0;

        @include tablet {
            padding: 0;
        }
    }
}

// End of About Section Styles
// Gallery Section Styles
.gallery {
    background-color: $secondary-alabaster;
    padding: 2.4rem 1.6rem 0 1.6rem;

    @include tablet {
        padding: 4.8rem 3.6rem .8rem 3.6rem;
    }

    @include desktop {
        padding: 4.8rem 9.6rem .8rem 9.6rem;
    }

    &__photos {
        padding-top: 1.6rem;
        @include flex-dir(column);

        @include tablet {
            // changed padding top to make it look as much as possible with the mockup
            padding-top: 2.4rem;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        @include desktop {
            padding-top: 3.6rem;
        }
    }

    &__img {
        padding-bottom: 1.6rem;

        @include tablet {
            width: 31.5%;
            padding-bottom: 2.4rem;
        }
    }

}

// End of Gallery Section Styles
// Conversation Section
.conversation {
    padding: 1.6rem;

    @include tablet {
        padding: 4.8rem 3.6rem 3.6rem 3.6rem;
    }

    @include desktop {
        padding: 4.8rem 9.6rem 3.6rem 9.6rem;
    }

    &__title {
        margin-bottom: 1.6rem;
    }

    &__container {
        @include tablet {
            padding: 0 6rem;
        }

        @include desktop {
            padding: 0 25.6rem;
        }
    }

    &__post-comment {
        display: flex;
        border-bottom: .1rem solid $secondary-mercury;
    }

    &__icon {
        object-fit: cover;
        height: 100%;
        position: absolute;
        left: -.5rem;
    }

    &__form {
        @include flex-dir(column);

        .form__name {
            color: $primary-silver;
            @include font-size-weight(1.2rem, 600);

            &-input {
                @extend .form-input-style;
            }
        }

        .form__comment {
            color: $primary-silver;
            @include font-size-weight(1.2rem, 600);
            margin-top: 2.4rem;

            &-input {
                @extend .form-input-style;
                min-height: 10rem;
                resize: none;
            }
        }

        .form__button {
            @include font-size-weight(1.6rem, 600);
            margin: 1.6rem 0;
            padding: 1.4rem 0;
            color: $primary-white;
            background-color: $primary-black;
            border: none;
            border-radius: .4rem;
            @include width-height(100%, 4rem);
            cursor: pointer;

            &:hover {
                background-color: $secondary-dark-black;
            }

            @include tablet {
                padding: 1.4rem 3.2rem;
                width: 15rem;
                align-self: flex-end;
            }
        }

    }

    &__left {
        margin-right: 1.6rem;
        @include width-height(3.6rem, 3.6rem);
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        margin-top: 2rem;

        @include tablet {
            @include width-height(4.8rem, 4.8rem);
        }

    }

    &__right {
        flex-grow: 1;
    }

    &__posted-container {
        display: flex;
        position: relative;
        border-bottom: .1rem solid $secondary-mercury;
        padding: 1.6rem 0;
    }

    &__posted-container-left {
        margin-right: 1.6rem;
        @include width-height(3.6rem, 3.6rem);
        border-radius: 50%;
        background-color: $secondary-mercury;

        @include tablet {
            @include width-height(4.8rem, 4.8rem);
        }
    }

    &__posted-avatar {
        @include width-height(3.6rem, 3.6rem);
        border-radius: 50%;

        @include tablet {
            @include width-height(4.8rem, 4.8rem);
        }

    }

    &__posted-container-right {
        @include flex-dir(column);
        width: 100%;

        &-top {
            @include flex-dir(row);
            justify-content: space-between;
        }

        &-bottom {
            margin-top: .8rem;
        }
    }

    &__posted-text {
        @include desktop {
            font-size: 1.63rem;
        }
    }

    &__posted-name {
        font-weight: 600;
    }

    &__posted-date {
        color: $primary-silver;
    }
}