@font-face {
  font-family: "AvenirNextLTPro";
  src: url(../assets/fonts/AvenirNextLTPro-Regular.otf) format("otf"), url(../assets/fonts/alternative-files/AvenirNextLTPro.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url(../assets/fonts/AvenirNextLTPro-Demi.otf) format("otf"), url(../assets/fonts/alternative-files/AvenirNextLTProDemi.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url(../assets/fonts/AvenirNextLTPro-Bold.otf) format("otf"), url(../assets/fonts/alternative-files/AvenirNextLTProBold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  font-family: "AvenirNextLTPro";
  font-size: 62.5%;
}

@media (min-width: 320px) {
  h1 {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 3.2rem;
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: 6rem;
    font-weight: 600;
    line-height: 6.8rem;
  }
}

@media (min-width: 320px) {
  h2 {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 3.2rem;
  }
}
@media (min-width: 768px) {
  h2 {
    font-size: 3.6rem;
    font-weight: 600;
    line-height: 4.4rem;
  }
}

@media (min-width: 320px) {
  h3 {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.2rem;
  }
}
@media (min-width: 768px) {
  h3 {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 3.2rem;
  }
}

p {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.8rem;
}
@media (min-width: 768px) {
  p {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.2rem;
  }
}

a {
  text-decoration: none;
  color: #FFF;
}

.bandsite-logo {
  background-color: #323232;
  max-width: 12rem;
  max-height: 2rem;
}

.form-input-style, .conversation__form .form__name-input, .conversation__form .form__comment-input {
  font-size: 1.3rem;
  min-height: 3.6rem;
  width: 100%;
  border-radius: 0.4rem;
  padding: 1.2rem;
  box-sizing: border-box;
  margin-top: 0.4rem;
  border: 0.1rem solid #E1E1E1;
  background-color: #FAFAFA;
}
.form-input-style:focus::-moz-placeholder, .conversation__form .form__name-input:focus::-moz-placeholder, .conversation__form .form__comment-input:focus::-moz-placeholder {
  color: transparent;
}
.form-input-style:focus::placeholder, .conversation__form .form__name-input:focus::placeholder, .conversation__form .form__comment-input:focus::placeholder {
  color: transparent;
}
.form-input-style::-moz-placeholder, .conversation__form .form__name-input::-moz-placeholder, .conversation__form .form__comment-input::-moz-placeholder {
  color: #323232;
}
.form-input-style::placeholder, .conversation__form .form__name-input::placeholder, .conversation__form .form__comment-input::placeholder {
  color: #323232;
}
.form-input-style:active, .conversation__form .form__name-input:active, .conversation__form .form__comment-input:active {
  border: 0.1rem solid #323232;
}
@media (min-width: 768px) {
  .form-input-style, .conversation__form .form__name-input, .conversation__form .form__comment-input {
    min-height: 4.8rem;
    padding: 1.6rem;
  }
}

iframe {
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  iframe {
    width: 60%;
  }
}
@media (min-width: 1280px) {
  iframe {
    width: 100%;
    height: 13.6rem;
    margin-top: 3.6rem;
  }
}

.header {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: flex-start;
  }
}
.header__logo {
  margin: 1.6rem;
  height: 1.9rem;
}
@media (min-width: 768px) {
  .header__logo {
    margin: 2.4rem 3.2rem;
  }
}
@media (min-width: 1280px) {
  .header__logo {
    margin-left: 9.6rem;
  }
}
.header__nav {
  width: 100%;
}
.header__list {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .header__list {
    width: 20rem;
  }
}
.header__link {
  font-size: 2rem;
  color: #E1E1E1;
  list-style-type: none;
  width: 50%;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 0.4rem solid #323232;
}
@media (min-width: 768px) {
  .header__link {
    width: auto;
    padding: 2.4rem 0;
    border-bottom: none;
    margin: 0 2.4rem;
  }
}
.header__link--active {
  color: #FFF;
  font-weight: 600;
  border-bottom: 0.4rem solid #FFF;
}
.header__link:hover {
  border-bottom: 0.4rem solid #FFF;
  color: #FFF;
}

.footer {
  color: #FFF;
  background-color: #323232;
  padding: 2.4rem 1.6rem 1.6rem 1.6rem;
}
@media (min-width: 768px) {
  .footer {
    padding: 4.8rem 3.6rem 3.6rem 3.6rem;
    position: relative;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 4.8rem 9.6rem 3.6rem 9.6rem;
  }
}
@media (min-width: 768px) {
  .footer__contact {
    display: flex;
    justify-content: space-between;
    width: 53%;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .footer__contact {
    width: 35%;
  }
}
.footer__contact .social {
  width: 12rem;
  padding: 1.6rem 0 2.4rem 0;
  display: flex;
  justify-content: space-between;
}
.footer__management {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer__management {
    padding: 3.6rem 0 0 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .footer__management {
    width: 66%;
  }
}
.footer__management .management__line,
.footer__management .agent__line,
.footer__management .entertainment__line {
  padding-bottom: 1.6rem;
}
@media (min-width: 768px) {
  .footer__management .management__line,
  .footer__management .agent__line,
  .footer__management .entertainment__line {
    padding-bottom: 2.4rem;
  }
}
.footer__management .management__line--bold,
.footer__management .agent__line--bold,
.footer__management .entertainment__line--bold {
  font-weight: 600;
}
.footer__management .management__line--email,
.footer__management .agent__line--email,
.footer__management .entertainment__line--email {
  font-size: 1.3rem;
}
@media (min-width: 768px) {
  .footer__management .management__line--email,
  .footer__management .agent__line--email,
  .footer__management .entertainment__line--email {
    font-size: 1.4rem;
  }
}
.footer__logo {
  margin-top: 4.8rem;
}
@media (min-width: 768px) {
  .footer__logo {
    position: absolute;
    left: 80%;
    bottom: 80%;
  }
}
.footer__copyright--font {
  font-size: 1rem;
  padding-top: 0.8rem;
}
@media (min-width: 768px) {
  .footer__copyright--font {
    font-size: 1.3rem;
    padding-top: 2.4rem;
  }
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  max-height: 90vh;
}
.hero__img {
  width: 100%;
}
.hero__opaque {
  background-color: #323232;
  width: 100%;
  height: 100%;
  opacity: 50%;
  position: absolute;
}
.hero__name {
  color: #FFF;
  position: absolute;
  margin: 1.6rem;
}
@media (min-width: 768px) {
  .hero__name {
    margin: 3.6rem;
  }
}
@media (min-width: 1280px) {
  .hero__name {
    margin: 9.6rem;
  }
}
.hero__title {
  font-size: 2.6rem;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 6rem;
  }
}

.about {
  display: flex;
  flex-direction: column;
  padding: 0 1.6rem;
}
@media (min-width: 768px) {
  .about {
    padding: 0 3.6rem;
  }
}
@media (min-width: 1280px) {
  .about {
    padding: 0 9.6rem;
  }
}
.about__title {
  margin-top: 2.4rem;
  margin-bottom: 1.6rem;
}
@media (min-width: 768px) {
  .about__title {
    margin-top: 4.8rem;
    margin-bottom: 3.6rem;
  }
}
@media (min-width: 768px) {
  .about__content {
    padding: 0 4rem;
  }
}
@media (min-width: 1280px) {
  .about__content {
    padding: 0 8rem;
  }
}
.about__img {
  width: 100%;
  margin-bottom: 1.6rem;
}
@media (min-width: 768px) {
  .about__img {
    margin-bottom: 3.6rem;
  }
}
.about__quote--margin {
  margin-bottom: 0.8rem;
}
@media (min-width: 1280px) {
  .about__quote {
    width: 83%;
  }
}
@media (min-width: 1280px) {
  .about__quote {
    font-size: 2.6rem;
  }
}
@media (min-width: 768px) {
  .about__quote--size {
    font-size: 1.7rem;
  }
}
@media (min-width: 1280px) {
  .about__quote--size {
    font-size: 1.8rem;
  }
}
.about__band-name {
  margin-top: 2.4rem;
  margin-bottom: 1.6rem;
}
@media (min-width: 768px) {
  .about__band-name {
    margin-top: 4.8rem;
    margin-bottom: 2.4rem;
  }
}
@media (min-width: 768px) {
  .about__paragraphs {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3.6rem;
  }
}
@media (min-width: 768px) {
  .about__paragraph {
    width: 47%;
  }
}
@media (min-width: 1280px) {
  .about__paragraph {
    width: 48%;
    font-size: 1.5rem;
  }
}
.about__paragraph--padding {
  padding: 1.6rem 0;
}
@media (min-width: 768px) {
  .about__paragraph--padding {
    padding: 0;
  }
}

.gallery {
  background-color: #FAFAFA;
  padding: 2.4rem 1.6rem 0 1.6rem;
}
@media (min-width: 768px) {
  .gallery {
    padding: 4.8rem 3.6rem 0.8rem 3.6rem;
  }
}
@media (min-width: 1280px) {
  .gallery {
    padding: 4.8rem 9.6rem 0.8rem 9.6rem;
  }
}
.gallery__photos {
  padding-top: 1.6rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .gallery__photos {
    padding-top: 2.4rem;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media (min-width: 1280px) {
  .gallery__photos {
    padding-top: 3.6rem;
  }
}
.gallery__img {
  padding-bottom: 1.6rem;
}
@media (min-width: 768px) {
  .gallery__img {
    width: 31.5%;
    padding-bottom: 2.4rem;
  }
}

.conversation {
  padding: 1.6rem;
}
@media (min-width: 768px) {
  .conversation {
    padding: 4.8rem 3.6rem 3.6rem 3.6rem;
  }
}
@media (min-width: 1280px) {
  .conversation {
    padding: 4.8rem 9.6rem 3.6rem 9.6rem;
  }
}
.conversation__title {
  margin-bottom: 1.6rem;
}
@media (min-width: 768px) {
  .conversation__container {
    padding: 0 6rem;
  }
}
@media (min-width: 1280px) {
  .conversation__container {
    padding: 0 25.6rem;
  }
}
.conversation__post-comment {
  display: flex;
  border-bottom: 0.1rem solid #E1E1E1;
}
.conversation__icon {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  position: absolute;
  left: -0.5rem;
}
.conversation__form {
  display: flex;
  flex-direction: column;
}
.conversation__form .form__name {
  color: #AFAFAF;
  font-size: 1.2rem;
  font-weight: 600;
}
.conversation__form .form__comment {
  color: #AFAFAF;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 2.4rem;
}
.conversation__form .form__comment-input {
  min-height: 10rem;
  resize: none;
}
.conversation__form .form__button {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 1.6rem 0;
  padding: 1.4rem 0;
  color: #FFF;
  background-color: #323232;
  border: none;
  border-radius: 0.4rem;
  width: 100%;
  height: 4rem;
  cursor: pointer;
}
.conversation__form .form__button:hover {
  background-color: #000000;
}
@media (min-width: 768px) {
  .conversation__form .form__button {
    padding: 1.4rem 3.2rem;
    width: 15rem;
    align-self: flex-end;
  }
}
.conversation__left {
  margin-right: 1.6rem;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin-top: 2rem;
}
@media (min-width: 768px) {
  .conversation__left {
    width: 4.8rem;
    height: 4.8rem;
  }
}
.conversation__right {
  flex-grow: 1;
}
.conversation__posted-container {
  display: flex;
  position: relative;
  border-bottom: 0.1rem solid #E1E1E1;
  padding: 1.6rem 0;
}
.conversation__posted-container-left {
  margin-right: 1.6rem;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  background-color: #E1E1E1;
}
@media (min-width: 768px) {
  .conversation__posted-container-left {
    width: 4.8rem;
    height: 4.8rem;
  }
}
.conversation__posted-avatar {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .conversation__posted-avatar {
    width: 4.8rem;
    height: 4.8rem;
  }
}
.conversation__posted-container-right {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.conversation__posted-container-right-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.conversation__posted-container-right-bottom {
  margin-top: 0.8rem;
}
@media (min-width: 1280px) {
  .conversation__posted-text {
    font-size: 1.63rem;
  }
}
.conversation__posted-name {
  font-weight: 600;
}
.conversation__posted-date {
  color: #AFAFAF;
}/*# sourceMappingURL=bio.css.map */