@use './partials/partial' as *;
@use './partials/header' as *;
@use './partials/footer' as *;


// Hero-Shows Styles
.hero-shows {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    max-height: 38vh;

    @include tablet {
        max-height: 64vh;
    }

    @include desktop {
        max-height: 88vh;
    }


    &__img {
        width: 100%;
    }

    &__opaque {
        @include width-height(100%, 100%);
        background-color: $primary-black;
        opacity: 50%;
        position: absolute;
    }

    &__content {
        @include width-height(100%, 100%);
        @include flex(space-between, column);
        position: absolute;
        box-sizing: border-box;
        padding: 3.6rem 1.6rem;

        @include tablet {
            padding: 6.4rem 3.6rem;
        }

        @include desktop {
            padding: 12rem;
            flex-direction: row;
            vertical-align: middle;
        }

        .content__song-name {
            @include flex(space-evenly, column);
            padding-right: 8rem;
            flex-grow: 1;

            @include tablet {
                padding-right: 9.6rem;
            }

            @include desktop {
                @include flex(center, column);
                width: 35vw;
            }
        }

        .content__song {
            height: 9.6rem;

            @include tablet {
                height: 13.6rem;
            }

            @include desktop {
                @include width-height(35vw, 100%);
                @include flex(center, column);
            }
        }

        .content__album {
            color: $primary-white;

            &--small {
                font-weight: 600;

                @include tablet {
                    margin-bottom: 1.6rem;
                }
            }
        }

        .content__title {
            color: $primary-white;

            &--large {
                font-size: 2.4rem;
                z-index: 2;

                @include tablet {
                    font-size: 6rem;
                }

                @include desktop {
                    font-size: 5.8rem;
                }
            }
        }
    }
}

// End of Hero-Shows Styles

// Schedule Section Styles
.schedule {
    padding: 1.6rem;

    @include tablet {
        padding-bottom: 3.6rem;
    }

    @include desktop {
        @include flex(space-between, null);
        padding: 3.6rem 9.6rem;

    }

    &__content {
        @include desktop {
            flex-grow: 1;
            padding-top: 1.6rem;
        }
    }

    &__heading {
        margin: 1.6rem 0 .8rem 0;

        @include tablet {
            margin: 3.6rem 1.6rem;
        }

        @include desktop {
            margin: 0 9.6rem 0 0;
        }
    }

    &__header {
        display: none;

        @include tablet {
            @include flex(space-between, null);
            padding: 0 1.6rem;

        }

        .schedule__key--table {
            @include font-size-weight(1.2rem, 600);
            color: $primary-silver;
            width: 15rem;
        }
    }

    &__concerts {
        @include flex(null, column);
        border-bottom: .1rem solid $secondary-mercury;

        @include tablet {
            @include flex(space-between, row);
            align-items: center;
            padding: 0 1.6rem;
        }
    }

    &__key {
        @include font-size-weight(1rem, 600);
        margin: 1.2rem 0 .4rem 0;
        color: $primary-silver;

        @include tablet {
            display: none;
        }
    }

    &__value {
        color: $primary-black;

        @include tablet {
            text-align: left;
            width: 15rem;
        }

        &--bold {
            font-weight: 600;
        }
    }

    &__buy-tickets {
        @include width-height(100%, 4rem);
        @include font-size-weight(1.5rem, 600);
        margin: 1.6rem 0;
        padding: 1.4rem 0;
        color: $primary-white;
        background-color: $primary-black;
        border: none;
        border-radius: .4rem;
        cursor: pointer;

        &:hover {
            background-color: $secondary-dark-black;
        }

        @include tablet {
            width: 15rem;
        }
    }
}

.schedule__concerts--hover {
    background-color: $secondary-alabaster;
}

.schedule__concerts--active {
    background-color: $secondary-mercury;
}