@font-face {
  font-family: "AvenirNextLTPro";
  src: url(../assets/fonts/AvenirNextLTPro-Regular.otf) format("otf"), url(../assets/fonts/alternative-files/AvenirNextLTPro.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url(../assets/fonts/AvenirNextLTPro-Demi.otf) format("otf"), url(../assets/fonts/alternative-files/AvenirNextLTProDemi.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url(../assets/fonts/AvenirNextLTPro-Bold.otf) format("otf"), url(../assets/fonts/alternative-files/AvenirNextLTProBold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  font-family: "AvenirNextLTPro", sans-serif;
  font-size: 62.5%;
}

@media (min-width: 320px) {
  h1 {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 3.2rem;
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: 6rem;
    font-weight: 600;
    line-height: 6.8rem;
  }
}

@media (min-width: 320px) {
  h2 {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 3.2rem;
  }
}
@media (min-width: 768px) {
  h2 {
    font-size: 3.6rem;
    font-weight: 600;
    line-height: 4.4rem;
  }
}

@media (min-width: 320px) {
  h3 {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.2rem;
  }
}
@media (min-width: 768px) {
  h3 {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 3.2rem;
  }
}

p {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.8rem;
}
@media (min-width: 768px) {
  p {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.2rem;
  }
}

a {
  text-decoration: none;
  color: #FFF;
}

.bandsite-logo {
  background-color: #323232;
  max-width: 12rem;
  max-height: 2rem;
}

.form-input-style {
  font-size: 1.3rem;
  min-height: 3.6rem;
  width: 100%;
  border-radius: 0.4rem;
  padding: 1.2rem;
  box-sizing: border-box;
  margin-top: 0.4rem;
  border: 0.1rem solid #E1E1E1;
  background-color: #FAFAFA;
}
.form-input-style:focus::-moz-placeholder {
  color: transparent;
}
.form-input-style:focus::placeholder {
  color: transparent;
}
.form-input-style::-moz-placeholder {
  color: #323232;
}
.form-input-style::placeholder {
  color: #323232;
}
.form-input-style:active {
  border: 0.1rem solid #323232;
}
@media (min-width: 768px) {
  .form-input-style {
    min-height: 4.8rem;
    padding: 1.6rem;
  }
}

iframe {
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  iframe {
    width: 60%;
  }
}
@media (min-width: 1280px) {
  iframe {
    width: 100%;
    height: 13.6rem;
    margin-top: 3.6rem;
  }
}

.error-state {
  background-color: #FFF !important;
  border: 0.1rem solid #D22D2D !important;
}
.error-state::-moz-placeholder {
  color: transparent !important;
}
.error-state::placeholder {
  color: transparent !important;
}

.header {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .header {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
  }
}
.header__logo {
  margin: 1.6rem;
  height: 1.9rem;
}
@media (min-width: 768px) {
  .header__logo {
    margin: 2.4rem 3.2rem;
  }
}
@media (min-width: 1280px) {
  .header__logo {
    margin-left: 9.6rem;
  }
}
.header__nav {
  width: 100%;
}
.header__list {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .header__list {
    width: 20rem;
  }
}
.header__link {
  font-size: 2rem;
  color: #E1E1E1;
  list-style-type: none;
  width: 50%;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 0.4rem solid #323232;
}
@media (min-width: 768px) {
  .header__link {
    width: auto;
    padding: 2.4rem 0;
    border-bottom: none;
    margin: 0 2.4rem;
  }
}
.header__link--active {
  color: #FFF;
  font-weight: 600;
  border-bottom: 0.4rem solid #FFF;
}
.header__link:hover {
  border-bottom: 0.4rem solid #FFF;
  color: #FFF;
}

.footer {
  color: #FFF;
  background-color: #323232;
  padding: 2.4rem 1.6rem 1.6rem 1.6rem;
}
@media (min-width: 768px) {
  .footer {
    padding: 4.8rem 3.6rem 3.6rem 3.6rem;
    position: relative;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 4.8rem 9.6rem 3.6rem 9.6rem;
  }
}
@media (min-width: 768px) {
  .footer__contact {
    display: flex;
    justify-content: space-between;
    width: 53%;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .footer__contact {
    width: 35%;
  }
}
.footer__contact .social {
  width: 12rem;
  padding: 1.6rem 0 2.4rem 0;
  display: flex;
  justify-content: space-between;
}
.footer__management {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer__management {
    padding: 3.6rem 0 0 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}
@media (min-width: 1280px) {
  .footer__management {
    width: 66%;
  }
}
.footer__management .management__line,
.footer__management .agent__line,
.footer__management .entertainment__line {
  padding-bottom: 1.6rem;
}
@media (min-width: 768px) {
  .footer__management .management__line,
  .footer__management .agent__line,
  .footer__management .entertainment__line {
    padding-bottom: 2.4rem;
  }
}
.footer__management .management__line--bold,
.footer__management .agent__line--bold,
.footer__management .entertainment__line--bold {
  font-weight: 600;
}
.footer__management .management__line--email,
.footer__management .agent__line--email,
.footer__management .entertainment__line--email {
  font-size: 1.3rem;
}
@media (min-width: 768px) {
  .footer__management .management__line--email,
  .footer__management .agent__line--email,
  .footer__management .entertainment__line--email {
    font-size: 1.4rem;
  }
}
.footer__logo {
  margin-top: 4.8rem;
}
@media (min-width: 768px) {
  .footer__logo {
    position: absolute;
    left: 80%;
    bottom: 80%;
  }
}
.footer__copyright--font {
  font-size: 1rem;
  padding-top: 0.8rem;
}
@media (min-width: 768px) {
  .footer__copyright--font {
    font-size: 1.3rem;
    padding-top: 2.4rem;
  }
}

.hero-shows {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  max-height: 38vh;
}
@media (min-width: 768px) {
  .hero-shows {
    max-height: 64vh;
  }
}
@media (min-width: 1280px) {
  .hero-shows {
    max-height: 88vh;
  }
}
.hero-shows__img {
  width: 100%;
}
.hero-shows__opaque {
  width: 100%;
  height: 100%;
  background-color: #323232;
  opacity: 50%;
  position: absolute;
}
.hero-shows__content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  box-sizing: border-box;
  padding: 3.6rem 1.6rem;
}
@media (min-width: 768px) {
  .hero-shows__content {
    padding: 6.4rem 3.6rem;
  }
}
@media (min-width: 1280px) {
  .hero-shows__content {
    padding: 12rem;
    flex-direction: row;
    vertical-align: middle;
  }
}
.hero-shows__content .content__song-name {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding-right: 8rem;
  flex-grow: 1;
}
@media (min-width: 768px) {
  .hero-shows__content .content__song-name {
    padding-right: 9.6rem;
  }
}
@media (min-width: 1280px) {
  .hero-shows__content .content__song-name {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 35vw;
  }
}
.hero-shows__content .content__song {
  height: 9.6rem;
}
@media (min-width: 768px) {
  .hero-shows__content .content__song {
    height: 13.6rem;
  }
}
@media (min-width: 1280px) {
  .hero-shows__content .content__song {
    width: 35vw;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
.hero-shows__content .content__album {
  color: #FFF;
}
.hero-shows__content .content__album--small {
  font-weight: 600;
}
@media (min-width: 768px) {
  .hero-shows__content .content__album--small {
    margin-bottom: 1.6rem;
  }
}
.hero-shows__content .content__title {
  color: #FFF;
}
.hero-shows__content .content__title--large {
  font-size: 2.4rem;
  z-index: 2;
}
@media (min-width: 768px) {
  .hero-shows__content .content__title--large {
    font-size: 6rem;
  }
}
@media (min-width: 1280px) {
  .hero-shows__content .content__title--large {
    font-size: 5.8rem;
  }
}

.schedule {
  padding: 1.6rem;
}
@media (min-width: 768px) {
  .schedule {
    padding-bottom: 3.6rem;
  }
}
@media (min-width: 1280px) {
  .schedule {
    display: flex;
    justify-content: space-between;
    padding: 3.6rem 9.6rem;
  }
}
@media (min-width: 1280px) {
  .schedule__content {
    flex-grow: 1;
    padding-top: 1.6rem;
  }
}
.schedule__heading {
  margin: 1.6rem 0 0.8rem 0;
}
@media (min-width: 768px) {
  .schedule__heading {
    margin: 3.6rem 1.6rem;
  }
}
@media (min-width: 1280px) {
  .schedule__heading {
    margin: 0 9.6rem 0 0;
  }
}
.schedule__header {
  display: none;
}
@media (min-width: 768px) {
  .schedule__header {
    display: flex;
    justify-content: space-between;
    padding: 0 1.6rem;
  }
}
.schedule__header .schedule__key--table {
  font-size: 1.2rem;
  font-weight: 600;
  color: #AFAFAF;
  width: 15rem;
}
.schedule__concerts {
  display: flex;
  flex-direction: column;
  border-bottom: 0.1rem solid #E1E1E1;
}
@media (min-width: 768px) {
  .schedule__concerts {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0 1.6rem;
  }
}
.schedule__key {
  font-size: 1rem;
  font-weight: 600;
  margin: 1.2rem 0 0.4rem 0;
  color: #AFAFAF;
}
@media (min-width: 768px) {
  .schedule__key {
    display: none;
  }
}
.schedule__value {
  color: #323232;
}
@media (min-width: 768px) {
  .schedule__value {
    text-align: left;
    width: 15rem;
  }
}
.schedule__value--bold {
  font-weight: 600;
}
.schedule__buy-tickets {
  width: 100%;
  height: 4rem;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1.6rem 0;
  padding: 1.4rem 0;
  color: #FFF;
  background-color: #323232;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
}
.schedule__buy-tickets:hover {
  background-color: #000000;
}
@media (min-width: 768px) {
  .schedule__buy-tickets {
    width: 15rem;
  }
}

.schedule__concerts--hover {
  background-color: #FAFAFA;
}

.schedule__concerts--active {
  background-color: #E1E1E1;
}/*# sourceMappingURL=shows.css.map */